/*──MS Pゴシック──*/
@font-face {
  font-family: "MS PGothic";
  src: local("Noto Sans JP");
}

@font-face {
  font-family: "ＭＳ Ｐゴシック";
  src: local("Noto Sans JP");
}

/*──MS ゴシック──*/
@font-face {
  font-family: "MS Gothic";
  src: local("Noto Sans JP");
}

@font-face {
  font-family: "ＭＳ ゴシック";
  src: local("Noto Sans JP");
}

/*──ＭＳ Ｐ明朝──*/
@font-face {
  font-family: "MS PMincho";
  src: local("Noto Serif JP");
}

@font-face {
  font-family: "ＭＳ Ｐ明朝";
  src: local("Noto Serif JP");
}

/*──ＭＳ 明朝──*/
@font-face {
  font-family: "MS Mincho";
  src: local("Noto Serif JP");
}

@font-face {
  font-family: "ＭＳ 明朝";
  src: local("Noto Serif JP");
}

/*──MS UI Gothic──*/
@font-face {
  font-family: "MS UI Gothic";
  src: local("Noto Sans JP");
}

/*──メイリオ──*/
@font-face {
  font-family: "Meiryo";
  src: local("Noto Sans JP");
}

@font-face {
  font-family: "Meiryo UI";
  src: local("Noto Sans JP");
}

@font-face {
  font-family: "メイリオ";
  src: local("Noto Sans JP");
}

/* 游ゴシック Medium */
@font-face {
  font-family: "游ゴシック Medium";
  src: local("Noto Sans JP");
  font-weight: 500;
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Noto Sans JP");
  font-weight: 500;
}


/* 游ゴシック Light*/
@font-face {
    font-family: "Yu Gothic Light";
    src: local("Noto Sans JP");
    font-weight: 300;
}

/*游ゴシック*/
@font-face {
  font-family: "Yu Gothic";
  src: local("Noto Sans JP");
}

@font-face {
  font-family: "游ゴシック";
  src: local("Noto Sans JP");
}

/*游ゴシックUI*/
@font-face {
  font-family: "Yu Gothic UI";
  src: local("Noto Sans JP");
}

/* button,
input,
select,
textarea {
    font-family: "Noto Sans JP" !important;
    font-size: 100%;
} */
